.titulo{
	font-family: Proximanovaregular;
}
.imgrotar{
	transform: rotate(180deg);
}
.bg-blue{
	background: url("../img/background-about-us.jpg");
	background-size: cover;
	margin-top: 7%;
}
.btn-blue{
	background-color: #002366;
	padding: 1% 3%;

}