/*HEADER*/
.navbar{
	padding-bottom: 20px;
	background-color: white;
}
.navbar img{
	height: 50px;
}
.navbar-toggle .icon-bar{
	background-color: gray;
}

/*FOOTER*/
.color-gray{
	color:#979797;
}
.color-blue{
	color:#002366;
}