.intro{
	background: url(../img/hero-image.jpg);
	background-size:contain;
	color: white;
	font-family: Proximanovabold;
}

/*Section Stuff*/ 
.box-content{
	height: 240px;
	width: 100%;
	padding: 5%;
	border: silver 1px solid;
}

/*Contact Section*/
.contact{
	background: url(../img/background-contac-us.jpg);
	background-size: cover;
	color:white;
}
.submit{
	background-color: #179AD6;
}