/*Global*/
*{
	font-family: "Proximanovalight";
}

@font-face{
	font-family: Proximanovabold;
	src: url(../fonts/proxima-nova/proximanova-bold-webfont.ttf);
}
@font-face{
	font-family: Proximanovalight;
	src: url(../fonts/proxima-nova/proximanova-light-webfont.ttf);
}
@font-face{
	font-family: Proximanovaregitalic;
	src: url(../fonts/proxima-nova/proximanova-regitalic-webfont.ttf);
}
@font-face{
	font-family: Proximanovaregular;
	src: url(../fonts/proxima-nova/proximanova-regular-webfont.ttf);
}

/* Shortcuts */


.mg-0{
	margin: 0;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}

.anone{
	text-decoration: none;
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.d-ib{
	display: inline-block;
}
/* Util class */
.pr-l {
    position: relative;
    left: -12px;
}
.w-h-10{
    width: 10%;
    height: 10%;
}
 .brd-mgb-pb{
    border-bottom: 2px solid rgba(211, 211, 211, 0.33);
    margin-bottom: 5%;
    padding-bottom: 5%;
 }
  .anone{
    text-decoration: none;
}
.container-full{
    width: 100%;
    margin: 0 auto;
}
/*MARGIN*/
.mgt-1 {
    margin-top: 1%;
}
.mgt-7 {
    margin-top: 7%;
}
.mgt-4 {
    margin-top: 4%;
}
.mgb-9 {
    margin-bottom: 9%;
}
 .mgb-3{
    margin-bottom: 3%;
 }
 .mgl-14{
    margin-left: -14px;
}
 .mgtb-2{
    margin-top: 2%;
    margin-bottom: 2%;
 }
.ml-30{
    margin-left: 23%;
 }
 .mgt-2{
    margin-top: 2%;
 }
.mgtb-4{
    margin-top: 4%;
    margin-bottom: 4%;
 }
.mgtb-5{
    margin-top: 5%;
    margin-bottom: 5%;
 }
.mgtb-40{
    margin-top: 40%;
    margin-bottom: 40%;
 }
 .mb-5{
    margin-bottom: 5%
 }
 .mb-7{
    margin-bottom: 7%
 }
/*PADDING*/
.pdlr-13{
    padding-left: 14%;
    padding-right: 14%
}
.pd-0{
	padding: 0;
}
.pd-5{
	padding: 5%;
}

.pd-7{
	padding: 7%;
}
.pd-10{
	padding: 10%;
}
.pb-5{
	padding-bottom: 5%;
}
.pt-5{
	padding-top:5%; 
}
.pl-15{
	padding-left: 15%;
}
 .pd-2{
    padding: 2%;
 }
  .pd-3{
    padding: 3%;
}
 .pdt-4 {
    padding-top: 4%;
 }
 .pd-7{
    padding: 7%;
 }
 .pd-4{
    padding:4%;
 }
 .pd-4{
    padding:7%;
 }
 .pdb-4 {
    padding-bottom: 4%;
 }
 .pdl-4{
    padding-left: 4%;
 }
 .pdt-5{
    padding-top: 5%;
 }
 .pd-t-b-25{
    padding-bottom: 25%;
    padding-top:25%;
 }
 .pr-7{
    padding-right: 7px;
}

.pt-7{
    padding-top: 7px;
}

.pb-7{
    padding-bottom: 7px;
}

.pl-14{
    padding-left: 14%;
}

.pr-14{
    padding-right: 14%;
}

.pt-14{
    padding-top: 14%;
}

.pb-14{
    padding-bottom: 14%;
}

.pl-42{
    padding-left: 42px;
}

.pr-42{
    padding-right: 42px;
}

.pt-42{
    padding-top: 42px;
}

.pb-42{
    padding-bottom: 42px;
}
.pdt-8{
    padding-top: 8%;
}
.pdb-8{
    padding-bottom: 8%;
}
.pl-7{
    padding-left: 7px;
}

/*TEXT*/
.p-light{
    font-weight: lighter;
}
.text-gray{
	color:rgba(128, 128, 128, 0.36);
}
.large{
    font-size: xx-large;
  }
.font{
 	font-size: 3em;
 }
 .text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-white{
	color: white;
}
.text-gray{
	color: rgb(83, 88, 95);
}

/*DISPLAY*/
.d-ib{
    display: inline-block;
}

.d-b{
    display: block;
}

